@font-face {
  font-family: GentlemanontheRainbow;
  src: url("../fonts/Gentleman_on_the_Rainbow.ttf"); }

@keyframes bounceY {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(-1.5rem); }
  to {
    transform: translateY(0); } }

html {
  font-size: 15px; }
  html body {
    font-family: 'Open Sans', sans-serif;
    color: #464746;
    overflow-x: hidden; }

h2 {
  font-weight: bold;
  text-transform: uppercase; }

@media (min-width: 992px) {
  html {
    font-size: 16px; } }

@media (min-width: 1200px) {
  html {
    font-size: 18px; } }

.navbar {
  background-color: #464746;
  transition: all .5s ease; }
  .navbar .navbar-brand img {
    height: 1.7rem; }
  .navbar .navbar-toggler {
    font-size: 2rem;
    color: #FFF;
    outline: 0; }
    .navbar .navbar-toggler:hover i {
      transition: all .5s ease;
      color: #018c60; }

#menu-navegacion {
  background-color: #464746;
  position: absolute;
  width: 200px;
  right: 1rem;
  top: 50px;
  z-index: 1;
  border-radius: 1rem 1rem 1rem 1rem; }
  #menu-navegacion .container {
    padding: 0; }
  #menu-navegacion .nav-item {
    color: #FFF;
    text-transform: uppercase;
    padding: 1rem;
    border-top: 1px solid white;
    border-radius: 1rem; }
    #menu-navegacion .nav-item i {
      color: #01B27A;
      font-size: 1.25rem;
      margin-left: .5rem;
      margin-right: .15rem; }

#navegacion-lateral {
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 4rem;
  left: 0;
  bottom: 1rem;
  z-index: 2;
  border-radius: 0 1rem 1rem 0;
  transition: all .3s ease; }
  #navegacion-lateral.fondo-menunavegacion-alterno {
    background-color: #464746; }
  #navegacion-lateral i {
    font-size: 2rem;
    color: #01B27A;
    padding: .9rem .5rem;
    transition: all .5s ease; }
    #navegacion-lateral i:hover {
      color: #018c60; }
  #navegacion-lateral button {
    background: transparent;
    border: none;
    outline: none; }
    #navegacion-lateral button i {
      font-size: 1.5rem;
      color: #01B27A;
      padding: 0; }
    #navegacion-lateral button:hover i {
      color: #018c60; }
  #navegacion-lateral #menu-navegacion-lateral {
    text-align: center; }
    #navegacion-lateral #menu-navegacion-lateral a {
      padding: 0;
      line-height: 0;
      font-size: 0;
      color: transparent; }

#bienvenida {
  height: 100vh;
  color: #FFF;
  background-image: url("../images/fondo-encabezado.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed !important; }
  #bienvenida #texto-encabezado h1 {
    font-family: GentlemanontheRainbow;
    font-size: 13vh;
    text-shadow: 3px 2px 4px #01B27A; }
  #bienvenida #texto-encabezado p {
    font-size: 2.5vh;
    text-shadow: 0px 0px 2px #FFF; }
  #bienvenida .flecha-bajar {
    font-size: 3rem;
    animation: bounceY 1.5s ease-in-out infinite; }
    #bienvenida .flecha-bajar a {
      color: #01B27A;
      transition: .5s all ease; }
      #bienvenida .flecha-bajar a:hover {
        color: #018c60; }

#sobre-mi .container {
  padding: 0; }

#sobre-mi #accordion-AAOC .card {
  border: 1px solid #01B27A; }

#sobre-mi #accordion-AAOC .card-header a {
  text-decoration: none; }

#sobre-mi #accordion-AAOC .card-block {
  padding: 1rem; }

#sobre-mi #idiomas img {
  width: 75%; }

#habilidades {
  background-color: #E6E6E6; }
  #habilidades .container-fluid {
    display: flex;
    flex-direction: column; }
    #habilidades .container-fluid .row {
      margin: 0; }
    #habilidades .container-fluid article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .5rem 0;
      text-align: center; }
    #habilidades .container-fluid article:hover .hexagonoblanco {
      transition: all 1s ease-in-out;
      transform: rotateY(360deg); }
    #habilidades .container-fluid i {
      color: #01B27A; }
  #habilidades .hexagonoblanco {
    background-image: url("../images/HexagonoBlanco.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem; }
    #habilidades .hexagonoblanco i {
      font-size: 2.4rem; }

#hoja-de-vida .card {
  background-color: #E6E6E6;
  border: 1px solid #01B27A; }
  #hoja-de-vida .card img {
    width: 7rem;
    margin: auto; }
  #hoja-de-vida .card .card-block {
    background-color: #FFFFFF;
    border-top: 1px solid #01B27A; }
    #hoja-de-vida .card .card-block i {
      font-size: 4rem;
      color: #01B27A;
      transition: all .5s ease; }
      #hoja-de-vida .card .card-block i:hover {
        color: #018c60; }

#educacion {
  background-color: #01B27A;
  color: #FFF; }
  #educacion .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem; }
  #educacion i {
    font-size: 4rem; }
  #educacion h3 {
    padding: 0 1rem; }

#experiencia-laboral img {
  width: 100%;
  height: 100%; }

#servicios {
  background-image: url("../images/fondo-servicios.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed !important; }
  #servicios h2 {
    color: #FFF;
    text-shadow: 2px 2px 2px #01B27A; }
  #servicios article {
    display: flex;
    flex-direction: column; }
    #servicios article .row {
      margin: 0;
      width: 100%; }
    #servicios article .hexagonoblanco {
      background-image: url("../images/HexagonoBlanco.svg");
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      width: 9rem;
      height: 9rem; }
      #servicios article .hexagonoblanco i {
        font-size: 3.6rem; }
      #servicios article .hexagonoblanco i {
        color: #01B27A; }
    #servicios article .container {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 1rem;
      justify-content: center; }
      #servicios article .container h3 {
        margin: 0;
        color: #FFF;
        font-size: 1.3rem;
        text-align: left; }
      #servicios article .container a {
        width: 6rem;
        padding: 0.25rem .5rem;
        font-size: .9rem; }
    #servicios article:nth-child(odd) .hexagonoblanco {
      order: 2; }
    #servicios article:nth-child(odd) .container {
      align-items: flex-end;
      padding: 0 1rem 0 0; }
      #servicios article:nth-child(odd) .container h3 {
        text-align: right; }
    #servicios article:hover .hexagonoblanco {
      transition: all 1s ease-in-out;
      transform: rotateX(360deg); }

#hobbies h2 {
  color: #8C8C8C;
  text-shadow: 1px 1px 1px #01B27A; }

#hobbies .owl-carousel h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #01B27A;
  text-shadow: 1px 1px 1px #01B27A; }

#hobbies .owl-carousel a {
  text-decoration: none; }

#hobbies .owl-carousel .container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #hobbies .owl-carousel .container span {
    background-image: url("../images/HexagonoOscuro.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem; }
    #hobbies .owl-carousel .container span i {
      font-size: 6rem; }
    #hobbies .owl-carousel .container span i {
      color: #01B27A; }

#hobbies .owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #01B27A;
  text-shadow: 1px 1px 1px #464746; }
  #hobbies .owl-carousel .owl-nav .owl-prev,
  #hobbies .owl-carousel .owl-nav .owl-next {
    margin: 0 1.5rem; }
  #hobbies .owl-carousel .owl-nav .owl-prev {
    position: relative;
    left: 0;
    transition: all .5s ease; }
    #hobbies .owl-carousel .owl-nav .owl-prev:hover {
      left: -.5rem;
      opacity: 1;
      color: #018c60; }
  #hobbies .owl-carousel .owl-nav .owl-next {
    position: relative;
    right: 0;
    transition: all .5s ease; }
    #hobbies .owl-carousel .owl-nav .owl-next:hover {
      right: -.5rem;
      opacity: 1;
      color: #018c60; }

#pie-de-pagina {
  color: #FFF; }
  #pie-de-pagina #JhoalInfo {
    background-color: #464746; }
    #pie-de-pagina #JhoalInfo p {
      padding: 1rem 0 0 0;
      margin: 0; }
      #pie-de-pagina #JhoalInfo p:first-child:first-line {
        font-weight: bold; }
    #pie-de-pagina #JhoalInfo #redes-sociales {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around; }
      #pie-de-pagina #JhoalInfo #redes-sociales i {
        font-size: 2rem; }
  #pie-de-pagina #SiteInfo {
    background-color: #01B27A; }
    #pie-de-pagina #SiteInfo img {
      width: 5rem;
      height: 5rem;
      margin: 1rem 0;
      object-fit: scale-down; }
    #pie-de-pagina #SiteInfo p {
      margin: 0; }
    #pie-de-pagina #SiteInfo #devtools {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      #pie-de-pagina #SiteInfo #devtools img {
        width: 2rem;
        height: 2rem; }

.percircle.small {
  font-size: 3.5rem; }

.modal-body .row:hover p {
  font-weight: bold; }

.modal-body .row:hover img {
  transform: scale(1.3); }

.modal-body .row:hover .percircle {
  cursor: default; }
  .modal-body .row:hover .percircle > span,
  .modal-body .row:hover .percircle :after {
    transform: scale(1.3);
    color: #01B27A; }

.modal-header {
  color: #01B27A; }

.modal-body h4 {
  color: #01B27A;
  text-align: center; }

.modal-body .row {
  align-items: center; }
  .modal-body .row img {
    width: 3.5rem;
    height: 3.5rem; }
  .modal-body .row .col-4 {
    margin-bottom: .5rem;
    margin-top: .5rem; }
    .modal-body .row .col-4 p {
      margin: 0; }
  .modal-body .row .col-4:first-child,
  .modal-body .row .col-4:last-child {
    display: flex;
    justify-content: center; }

#flecha-ir-arriba i {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1020;
  font-size: 2.5rem;
  transition: all .5s ease;
  color: #01B27A;
  text-shadow: 1px 1px 2px #8C8C8C;
  opacity: .7; }
  #flecha-ir-arriba i:hover {
    color: #018c60;
    opacity: 1; }

@media (min-width: 768px) {
  #bienvenida {
    background-image: url("../images/fondo-encabezado-lg.jpg"); }
  #menu-navegacion {
    position: static;
    z-index: 1;
    background-color: transparent; }
    #menu-navegacion .nav-item {
      border-top: none;
      border-radius: 0;
      display: inline-flex;
      padding: .5rem;
      margin-left: 1.5rem;
      text-transform: capitalize; }
      #menu-navegacion .nav-item i {
        order: 0;
        line-height: 1.5rem; }
  #navegacion-lateral {
    background-color: transparent;
    width: 4rem;
    bottom: 5%;
    border-radius: 0 1rem 1rem 0; }
    #navegacion-lateral.fondo-menunavegacion-alterno {
      background-color: rgba(70, 71, 70, 0.9); }
    #navegacion-lateral:hover {
      background-color: #464746; }
  #sobre-mi #idiomas img {
    width: 50%; }
  #habilidades {
    background-color: unset; }
    #habilidades .container-fluid {
      padding: 0;
      background-color: #E6E6E6;
      background-clip: content-box; }
    #habilidades .container-fluid .row:nth-child(1) {
      order: 2; }
    #habilidades .container-fluid .row:nth-child(2) {
      order: 1;
      transform: translateY(-4.5rem); }
    #habilidades .container-fluid .row:nth-child(3) {
      order: 3;
      transform: translateY(4.5rem); }
      #habilidades .container-fluid .row:nth-child(3) article {
        flex-direction: column-reverse; }
    #habilidades .hexagonoblanco {
      background-image: url("../images/HexagonoClaro.svg");
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem; }
      #habilidades .hexagonoblanco i {
        font-size: 3.2rem; }
  #hoja-de-vida .container,
  #educacion .container {
    padding: 0; }
  #servicios {
    background-image: url("../images/fondo-servicios-lg.jpg"); } }

@media (min-width: 992px) {
  #sobre-mi #idiomas img {
    width: 40%; } }

/*# sourceMappingURL=main.css.map */