// Que puedo hacer con SCSS?
// --------------------------------------------------------------------------------
// Nesting
// Variables: ($myvariable: property_value | property: $myvariable)
// Partials 	(ex _miparcial.scss)
// Import 		(ex @import _miparcial.scss)
// Mixins 		(groups of CSS declarations that you want to reuse)
// Inheritance (@extend [selector];)
// Operators: 	(width: 600px / 960px * 100%;)
// ------------------------------------------------------------------------------
//IMPORTS
//------------------------------------------------------------------------------
@import 'modules/_base.scss';
@import 'partials/_base.scss';
//------------------------------------------------------------------------------
//##############################################################################
//##############################    GLOBAL    ##################################
//##############################################################################
//##############################################################################
html {
	font-size: 15px;

	body {
		font-family: 'Open Sans', sans-serif;
		color: $color-fondo-oscuro;
		overflow-x: hidden;

		.header-wrapper {
			height: 65px;
		}
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
}

// Contexto LARGE
//------------------------------------------
@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

// Contexto EXTRA LARGE
//------------------------------------------
@media (min-width: 1200px) {
	html {
		font-size: 18px;

	}
}

// Mixin Hexagono
//------------------------------------------
@mixin Hexagono($url, $width) {
	background: $url no-repeat center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	width: $width;
	height: $width;

	i {
		font-size: $width * 0.4;
	}
}

//##############################################################################
//##############################    index.html    ##############################
//##############################################################################
//##############################################################################
//#################################################################
//Barra de navegación
//----------------------------------------------------------------*/
.navbar {
	background-color: $color-fondo-oscuro;
	transition: all .5s ease;

	.navbar-brand {
		img {
			height: 1.7rem;
		}
	}

	.navbar-toggler {
		font-size: 2rem;
		color: $color-texto-claro;
		outline: 0;

		&:hover i {
			transition: all .5s ease;
			color: $color-principal-oscuro;
		}
	}
}

#menu-navegacion {
	background-color: $color-fondo-oscuro;
	position: absolute;
	width: 200px;
	right: 1rem;
	top: 50px;
	z-index: 1;
	border-radius: 1rem 1rem 1rem 1rem;

	.container {
		padding: 0;
	}

	.nav-item {
		color: $color-texto-claro;
		text-transform: uppercase;
		padding: 1rem;
		border-top: 1px solid white;
		border-radius: 1rem;

		i {
			color: $color-principal-claro;
			font-size: 1.25rem;
			margin-left: .5rem;
			margin-right: .15rem;

		}
	}
}

//#################################################################
//Barra de navegación lateral inicio
//------------------------------------------------------------------
#navegacion-lateral {

	background-color: transparent;
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 4rem;
	left: 0;
	bottom: 1rem;
	z-index: 2;
	border-radius: 0 1rem 1rem 0;
	transition: all .3s ease;

	&.fondo-menunavegacion-alterno {
		background-color: $color-fondo-oscuro;
	}

	i {
		font-size: 2rem;
		color: $color-principal-claro;
		padding: .9rem .5rem;
		transition: all .5s ease;

		&:hover {
			color: $color-principal-oscuro;
		}
	}

	button {
		background: transparent;
		border: none;
		outline: none;

		i {
			font-size: 1.5rem;
			color: $color-principal-claro;
			padding: 0;
		}

		&:hover i {
			color: $color-principal-oscuro;
		}
	}

	#menu-navegacion-lateral {
		text-align: center;

		a {
			//esconder el texto
			padding: 0;
			line-height: 0;
			font-size: 0;
			color: transparent;
		}
	}
}

//#################################################################
//SECCION BIENVENIDA
//-----------------------------------------------------------------
#bienvenida {
	height: 100vh;
	color: $color-texto-claro;
	background-image: url("../images/fondo-encabezado.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed !important;

	#texto-encabezado {
		h1 {
			//margin-top: 5rem;
			font-family: GentlemanontheRainbow, serif;
			font-size: 13vh;
			text-shadow: 3px 2px 4px $color-principal-claro;
		}

		p {
			font-size: 2.5vh;
			text-shadow: 0 0 2px $color-texto-claro;
		}
	}

	.flecha-bajar {
		font-size: 3rem;
		animation: bounceY 1.5s ease-in-out infinite;

		a {
			color: $color-principal-claro;
			transition: .5s all ease;

			&:hover {
				color: $color-principal-oscuro;
			}
		}
	}
}

//#################################################################
//SECCION SOBRE MI
//-----------------------------------------------------------------
#sobre-mi {
	.container {
		//padding: 0;
		display: flex;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	#accordion-AAOC {
		.card {
			border: 1px solid $color-principal-claro;
		}

		.card-header a {
			text-decoration: none;
		}

		.card-block {
			padding: 1rem;
		}
	}

	#idiomas {
		img {
			width: 100%;
			height: 100%;
		}
	}
}

///*#################################################################
//SECCION HABILIDADES
//-------------------------------------------------------------------
#habilidades {
	background-color: $color-fondo-claro;

	.container-fluid {
		display: flex;
		flex-direction: column;

		.row {
			margin: 0;
		}

		article {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: .5rem 0;
			text-align: center;
		}

		article:hover .hexagonoblanco {
			transition: all 1s ease-in-out;
			transform: rotateY(360deg);
		}

		i {
			//font-size: 4rem;
			color: $color-principal-claro;
		}
	}

	.hexagonoblanco {
		@include Hexagono(url("../images/HexagonoBlanco.svg"), 6rem)
	}
}

//#################################################################
//SECCION Hoja de Vida
//-----------------------------------------------------------------
#hoja-de-vida {
	.card {
		background-color: $color-fondo-claro;
		border: 1px solid $color-principal-claro;

		img {
			width: 7rem;
			margin: auto;
		}

		.card-block {
			background-color: $color-fondo-blanco;
			border-top: 1px solid $color-principal-claro;

			i {
				font-size: 4rem;
				color: $color-principal-claro;
				transition: all .5s ease;

				&:hover {
					color: $color-principal-oscuro;
				}
			}
		}
	}
}

//#################################################################
//SECCION Educacion
//-----------------------------------------------------------------
#educacion {
	background-color: $color-principal-claro;

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 1rem;
	}

	color: $color-texto-claro;

	i {
		font-size: 4rem;
	}

	h3 {
		padding: 0 1rem;
	}
}

//#################################################################
//SECCION Experiencia Laboral
//-----------------------------------------------------------------
#experiencia-laboral {
	img {
		width: 100%;
		height: 100%;
	}
}

//#################################################################
//SECCION servicios
//-----------------------------------------------------------------
#servicios {
	background-image: url("../images/fondo-servicios.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed !important;

	h2 {
		color: $color-texto-claro;
		text-shadow: 2px 2px 2px $color-principal-claro;
	}

	article {
		display: flex;
		flex-direction: column;

		.row {
			margin: 0;
			width: 100%;
		}

		.hexagonoblanco {
			@include Hexagono(url("../images/HexagonoBlanco.svg"), 9rem);

			i {
				color: $color-principal-claro;
			}
		}

		.container {
			display: flex;
			flex-direction: column;
			padding: 0 0 0 1rem;
			justify-content: center;

			h3 {
				margin: 0;
				color: $color-texto-claro;
				font-size: 1.3rem; //flex-shrink: shrink;
				text-align: left;
			}

			& button {
				width: 6rem;
				padding: 0.25rem .5rem;
				font-size: .9rem;
			}
		}

		&:nth-child(odd) {
			.hexagonoblanco {
				order: 2;
			}

			.container {
				align-items: flex-end;
				padding: 0 1rem 0 0;

				& h3 {
					text-align: right;
				}

				& button {
					width: 6rem;
					padding: 0.25rem .5rem;
					font-size: .9rem;
				}
			}
		}

		&:hover .hexagonoblanco {
			transition: all 1s ease-in-out;
			transform: rotateX(360deg);
		}
	}
}

//#################################################################
//SECCION MIS HOBBIES
//-----------------------------------------------------------------
#hobbies {
	h2 {
		color: $color-texto-oscuro;
		text-shadow: 1px 1px 1px $color-principal-claro;
	}
	// a{
	// 	text-decoration: none;
	// }
	.owl-carousel {
		h3 {
			font-size: 1rem;
			font-weight: bold;
			color: $color-principal-claro;
			text-shadow: 1px 1px 1px $color-principal-claro;
		}

		a {
			text-decoration: none;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;

			span {
				@include Hexagono(url("../images/HexagonoOscuro.svg"), 15rem);

				i {
					color: $color-principal-claro;
				}
			}
		}

		.owl-nav {
			display: flex;
			justify-content: center;
			font-size: 2.5rem;
			color: $color-principal-claro;
			text-shadow: 1px 1px 1px $color-fondo-oscuro;

			.owl-prev,
			.owl-next {
				margin: 0 1.5rem;
			}

			.owl-prev {
				position: relative;
				left: 0;
				transition: all .5s ease;

				&:hover {
					left: -.5rem;
					opacity: 1;
					color: $color-principal-oscuro;
				}
			}

			.owl-next {
				position: relative;
				right: 0;
				transition: all .5s ease;

				&:hover {
					right: -.5rem;
					opacity: 1;
					color: $color-principal-oscuro;
				}
			}
		}
	}
}

//#################################################################
//PIE DE PAGINA
//-----------------------------------------------------------------
#pie-de-pagina {
	color: $color-texto-claro;

	#JhoalInfo {
		background-color: $color-fondo-oscuro;

		p {
			padding: 1rem 0 0 0;
			margin: 0;

			&:first-child:first-line {
				font-weight: bold;
			}
		}

		#redes-sociales {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-around;

			i {
				font-size: 2rem;
			}
		}
	}

	#SiteInfo {
		background-color: $color-principal-claro;

		img {
			width: 5rem;
			height: 5rem;
			margin: 1rem 0;
			object-fit: scale-down;
		}

		p {
			margin: 0;
		}

		#devtools {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;

			img {
				width: 2rem;
				height: 2rem;
			}
		}
	}
}

//#################################################################
//Modales
//-----------------------------------------------------------------
.percircle.small {
	font-size: 3.5rem;
}

// hover styles
#modalHabilidadesDev .modal-body .row:hover,
#modalHabilidadesOS .modal-body .row:hover,
#modalHabilidadesDesign .modal-body .row:hover,
#modalHabilidadesAdmin .modal-body .row:hover {
	p {
		font-weight: bold;
	}

	img {
		transform: scale(1.3);
	}

	& .percircle {
		cursor: default;

		> span,
		:after {
			transform: scale(1.3);
			color: $color-principal-claro;
		}
	}
}

.modal-header {
	color: $color-principal-claro;
}

.modal-body {
	h4 {
		color: $color-principal-claro;
		text-align: center;
	}

	.row {
		align-items: center;

		img {
			width: 3.5rem;
			height: 3.5rem;
		}

		.col-4 {
			margin-bottom: .5rem;
			margin-top: .5rem;

			p {
				margin: 0;
			}
		}

		.col-4:first-child,
		.col-4:last-child {
			display: flex;
			justify-content: center;
		}
	}
}

//#################################################################
//FLECHA DE IR ARRIBA
//-----------------------------------------------------------------
#flecha-ir-arriba i {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 1020;
	font-size: 2.5rem;
	transition: all .5s ease;
	color: $color-principal-claro;
	text-shadow: 1px 1px 2px $color-texto-oscuro;
	opacity: .7;

	&:hover {
		color: $color-principal-oscuro;
		opacity: 1;
	}
}

//#################################################################
//MEDIA QUERIES
//#################################################################
// Contexto MEDIUM
//------------------------------------------
@media (min-width: 768px) {
	#bienvenida {
		background-image: url("../images/fondo-encabezado-lg.jpg"); // background-repeat: no-repeat;
		// background-position: top;
		// background-size: cover;
		// background-attachment: fixed !important;
	}

	#menu-navegacion {
		position: static;
		z-index: 1;
		background-color: transparent;

		.nav-item {
			border-top: none;
			border-radius: 0;
			display: inline-flex;
			padding: .5rem;
			margin-left: 1.5rem;
			text-transform: capitalize;

			i {
				order: 0;
				line-height: 1.5rem;
			}
		}
	}

	#navegacion-lateral {
		background-color: transparent;
		width: 4rem;
		bottom: 5%;
		border-radius: 0 1rem 1rem 0;

		&.fondo-menunavegacion-alterno {
			background-color: transparentize($color-fondo-oscuro, .1);
		}

		&:hover {
			background-color: $color-fondo-oscuro;
		}
	}

	#sobre-mi {
		#idiomas img {
			width: 50%;
		}
	}

	#habilidades {
		background-color: unset;

		.container-fluid {
			padding: 0;
			background-color: $color-fondo-claro;
			background-clip: content-box;
		}

		.container-fluid .row:nth-child(1) {
			order: 2;
		}

		.container-fluid .row:nth-child(2) {
			order: 1; //margin-top: -7.5rem;
			transform: translateY(-4.5rem);
		}

		.container-fluid .row:nth-child(3) {
			order: 3;
			transform: translateY(4.5rem);

			article {
				flex-direction: column-reverse;
			}
		}

		.hexagonoblanco {
			@include Hexagono(url("../images/HexagonoClaro.svg"), 8rem)
		}
	}

	#hoja-de-vida,
	#educacion {
		.container {
			padding: 0;
		}
	}

	#servicios {
		background-image: url("../images/fondo-servicios-lg.jpg");
	}
}

// Contexto LARGE
//------------------------------------------
@media (min-width: 992px) {
	#sobre-mi {
		#idiomas img {
			width: 40%;
		}
	}
}

// Contexto EXTRA LARGE
//------------------------------------------
@media (min-width: 1200px) {
}

//##############################################################################
//###############################    blog.html    ################################
//################################################################################
//##############################################################################
//##############################################################################
//############################    contacto.html    ###############################
//################################################################################
//##############################################################################
