footer#pie-de-pagina.pt-3.text-center
	#JhoalInfo.container-fluid
		.container
			p © John Alejandro Zapata - 2017 <br>
				| Medellín - Colombia <br>
				| +57 312 781 4422
			a(href="mailto:jhoalx@gmail.com", title="Jhoalx@gmail.com <br>") Jhoalx@gmail.com
			p Sígueme en redes sociales y plataformas
			ul#redes-sociales.col-lg-6.mx-auto
				li
					a(href='https://www.facebook.com/jhoalx')
						i.fa.fa-facebook-square
				li
					a(href='https://twitter.com/jhoalz')
						i.fa.fa-twitter
				li
					a(href='https://www.twitch.tv/jhoalx')
						i.fa.fa-twitch
				li
					a(href='https://www.youtube.com/channel/UCoNGsQ55COEPA5aJzXZR0wA')
						i.fa.fa-youtube
				li
					a(href='https://www.instagram.com/jhoalx/')
						i.fa.fa-instagram
				li
					a(href='https://github.com/jhoalx')
						i.fa.fa-github
				li
					a(href='https://bitbucket.org/Jhoalx')
						i.fa.fa-bitbucket
				li
					a(href="https://www.goodreads.com/user/show/48332177-jhon-zapata", title="GoodReads")
						i.fa.fa-book
	#SiteInfo.container-fluid
		.container
			.row
				.col-5.d-flex.align-content-center
					img(src="./images/AvatarJhoal.jpg", alt="Avatar Jhoal")
				.col-7.d-flex.flex-column.justify-content-end.align-items-end.p-3
					p Diseñado y Desarrollado con:
					ul#devtools
						li
							a(href='https://www.w3.org/TR/html5/')
								img(src="./images/HTML5.svg", alt="HTML5")
						li
							a(href='https://www.w3.org/Style/CSS/')
								img(src="./images/CSS3.svg", alt="CSS3")
						li
							a(href='http://jadelang.net/')
								img(src="./images/pugjs.svg", alt="Pug (ex Jade)")
						li
							a(href='http://getbootstrap.com/')
								img(src="./images/Bootstrap4.svg", alt="Bootstrap 4")
						li
							a(href='http://sass-lang.com/')
								img(src="./images/Sass.svg", alt="Sass")



script(src='./js/main.js', type="text/javascript")