//Se muestra por JS en main (remueve d-none)
.header-wrapper.d-none
	header
		nav.navbar.navbar-expand-md
			.container
				a.navbar-brand(href='index.html')
					img.logo(src='./images/logo.svg', alt='Logo Jhoalzofts')
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle="collapse", data-target="#menu-navegacion", aria-expanded="false", aria-label="Toggle navigation")
					i.fa.fa-bars(aria-hidden='true')
				//- button.custom-search-toggler(type='button', data-toggle="collapse", data-target="#bloque-buscar", aria-expanded="false", aria-label="Toggle Search")
				//- 		i.fa.fa-search(aria-hidden='true')
				//- form#bloque-buscar.collapse(action='#')
				//- 	#contenedor-bloque-buscar.d-flex
				//- 		input.form-control(type='search', placeholder='Busqueda...')
				//- 		input.btn.btn-primary(type='submit', value='Buscar')
				#menu-navegacion.collapse.navbar-collapse
					#contenedor-menu-navegacion.container.text-right
						a.nav-item.nav-link.active(href="./") Inicio
							i.fa.fa-home
						a.nav-item.nav-link(href="blog") Blog
							i.fa.fa-pencil-square-o
						a.nav-item.nav-link(href="contacto") Contacto
							i.fa.fa-address-book-o