head
	title John Alejandro Zapata

	//- Required meta tags
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

	//- Carga de fuentes
	//- ########################################################################
	include fonts

	//- Carga de archivos css
	//- ########################################################################
	include styles

	//- Carga de Archivos JS (except main.js)
	//- ########################################################################
	include scripts
	//- ########################################################################