script(src='./js/jquery-3.2.1.js', type='text/javascript')
script(src='./js/percircle.js', type='text/javascript')
script(src='./js/jquery.waypoints.min.js', type='text/javascript')
script(src='./js/tether.min.js', type='text/javascript')
script(src='./js/smooth-scroll.min.js', type="text/javascript")
script(src='./js/owl.carousel.min.js', type="text/javascript")
script(src='./js/popper.min.js' type="text/javascript")
script(src='./js/bootstrap.js', type='text/javascript')
