doctype html
html(lang='es')
	include partials/head


	body#contacto
		include partials/header

		.container.py-5
			.card
				.card-header
					h3 Formulario de Contacto
				.card-body
					form(method='POST', action='http://localhost/jhoalcvp/contacto')
						input(type='hidden', name='_token', value='4txClRgUFXeCUCcFgpQFP2n0ZDZkeJZRedsYDLl3')
						.py-2
							p.card-text
								| Si estas interesado en contratar mis servicios, tines dudas, requieres asesoría o quieres
								| que creemos algo juntos, porfavor utiliza el siguiente formulario para establecer contacto:
							p
								| Los campos marcados con asterisco (
								span(style='color: red') *
								| ) son requeridos
						.form-group.row
							label.col-sm-2.col-form-label(for='name')
								| Nombre
								span(style='color: red') *
							.col-md-10
								input#name.form-control(type='text', name='name', value='', required='')
						.form-group.row
							label.col-sm-2.col-form-label(for='phone') Telefono
							.col-md-10
								input#phone.form-control(type='text', name='phone', value='', placeholder='+57')
						.form-group.row
							label.col-sm-2.col-form-label(for='email')
								| Email
								span(style='color: red') *
							.col-md-10
								input#email.form-control(type='email', name='email', value='', required='', placeholder='usuario@dominio.ej')
						.form-group.row
							label.col-sm-2.col-form-label(for='message')
								| Mensaje
								span(style='color: red') *
							.col-md-10
								textarea#message.form-control(name='message', rows='5', required='', placeholder='Porfavor escriba su mensaje')
						.form-group.row
							.mx-auto
								button.btn.btn-primary(type='submit') Enviar

		include partials/footer


