doctype html
html(lang='es')
	include partials/head


	body
		include partials/header

		section#bienvenida.d-flex.flex-column.align-items-center.justify-content-around
			#texto-encabezado.container-fluid.d-flex.flex-column.text-center
				//i.fa.fa-hourglass-2(style="font-size: 75px; text-shadow: 2px 2px 5px red")
				//h3(style="text-shadow: 2px 2px 5px red") Sitio en Construcción
				h1 John Alejandro Zapata.
				p Desarrollador de Software.
			a.btn.btn-primary.btn-lg(href='contacto') Contactame.
			.flecha-bajar
				a(href='#sobre-mi')
					i.fa.fa-chevron-down(aria-hidden="true")

		#navegacion-lateral
			button(type='button', data-toggle="collapse", data-target="#menu-navegacion-lateral", aria-expanded="false", aria-label="Toggle navigation")
				i.fa.fa-bars(aria-hidden='true')
			#menu-navegacion-lateral.collapse
				a.nav-item.nav-link(href="#sobre-mi", data-toggle="tooltip", data-placement="right", title="Sobre Mi") Sobre Mi
					i.fa.fa.fa-user-circle-o
				a.nav-item.nav-link(href="#habilidades", data-toggle="tooltip", data-placement="right", title="Habilidades") Habilidades
					i.fa.fa-gear
				a.nav-item.nav-link(href="#hoja-de-vida", data-toggle="tooltip", data-placement="right", title="Descargar Hoja de Vida") Hoja de Vida
					i.fa.fa-download
				a.nav-item.nav-link(href="#educacion", data-toggle="tooltip", data-placement="right", title="Educación") Educación
					i.fa.fa-university
				a.nav-item.nav-link(href="#experiencia-laboral", data-toggle="tooltip", data-placement="right", title="Experiencia Laboral") Exp. Laboral
					i.fa.fa-black-tie
				a.nav-item.nav-link(href="#servicios", data-toggle="tooltip", data-placement="right", title="Servicios") Servicios
					i.fa.fa-handshake-o
				a.nav-item.nav-link(href="#hobbies", data-toggle="tooltip", data-placement="right", title="Hobbies") Hobbies
					i.fa.fa-heartbeat

		section#sobre-mi.py-5
			.container
				.row
					.col-12.col-md-6.d-flex.justify-content-center.align-items-center
						img(src='./images/foto.jpg', alt='Foto John Alejandro Zapata Roldan').img-thumbnail
					.col-12.col-md-6
						h2.text-center.text-md-left.pb-3 ¡Hola!
						p.text-justify
							| Mi nombre es John Alejandro Zapata, colombiano, residente en Medellín (Antioquia),
							| soy desarrollador de software de profesión y
							| tengo más de 14 años de experiencia en áreas de tecnología y administración (sí, laboro oficialmente desde que tengo 16)
							| y estoy aquí para ayudarte con tus requerimientos en el mundo de la Informática.
							<br>
						p
							| <b>¡Creemos algo juntos!</b> <br>
							| ¡Si te interesa que trabajemos en equipo, vamos! <br>
							| <a href="./contacto">Ponte en contacto.</a>
							<br>
						p
							| Te invito a seguir leyendo este sitio para que conozcas un poco más sobre mí.
						#accordion-AAOC(role='tablist', aria-multiselectable='true').col-12.col-md-10.mx-auto
							.card
								#headingAptitudes.card-header(role='tab', data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseAptitudes')
									h5.mb-0
										a(data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseAptitudes', aria-expanded='true', aria-controls='collapseAptitudes')
											| Aptitudes
								#collapseAptitudes.collapse(role='tabpanel', aria-labelledby='headingOne')
									.card-block
										| Alta capacidad analítica <br>
										| Asunción de Riesgos      <br>
										| Iniciativa               <br>
										| Automotivación           <br>
										| Capacidad Crítica        <br>
										| Creatividad              <br>
										| Integridad               <br>
										| Comunicación Persuasiva  <br>
										| Compromiso               <br>
										| Desición                 <br>
										| Flexibilidad             <br>
										| Adaptabilildad           <br>
										| Independencia            <br>
										| Liderazgo                <br>


							.card
								#headingActitudes.card-header(role='tab', data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseActitudes')
									h5.mb-0
										a.collapsed(data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseActitudes', aria-expanded='false', aria-controls='collapseTwo')
											| Actitudes
								#collapseActitudes.collapse(role='tabpanel', aria-labelledby='headingTwo')
									.card-block
										| Amabilidad           <br>
										| Trabajo en equipo    <br>
										| Cordialidad          <br>
										| Respeto              <br>
										| Proactividad         <br>
										| Tolerancia           <br>
										| Optimismo            <br>
										| Mente Abierta        <br>
										| Responsabilidad      <br>
										| Actitud emprendedora <br>
							.card
								#headingObjetivos.card-header(role='tab', data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseLogros')
									h5.mb-0
										a.collapsed(data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseLogros', aria-expanded='false', aria-controls='collapseThree')
											| Objetivos
								#collapseLogros.collapse(role='tabpanel', aria-labelledby='headingThree')
									.card-block
										| Aprender nuevas cosas cada día              <br>
										| Hacer más amistades                         <br>
										| Fundar empresa propia o en compañia         <br>
										| Hacer lo que me apasiona                    <br>
										| Tener Éxito                                 <br>
										| Estudiar carrera profesional en el exterior <br>
							.card
								#headingAmbiciones.card-header(role='tab', data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseAbiciones')
									h5.mb-0
										a.collapsed(data-toggle='collapse', data-parent='#accordion-AAOC', href='#collapseAbiciones', aria-expanded='false', aria-controls='collapseThree')
											| Competencias
								#collapseAbiciones.collapse(role='tabpanel', aria-labelledby='headingThree')
									.card-block
										| Idioma Inglés Alto            <br>
										| Aprendizaje Autónomo          <br>
										| Excelente experiencia laboral <br>

						h3.text-center.mt-4 Idiomas
						#idiomas.container.d-flex.text-center
							.col-6
								p Español <br> (Nativo)
								img(src="./images/flag-ES.svg", alt="Español")
							.col-6
								p Inglés <br> (90%)
								img(src="./images/flag-EN.svg", alt="Español")

		section#habilidades.py-5
			.container-fluid.py-md-5
				.row
					h2.col-md-12.p-md-0.text-center HABILIDADES
				.row
					article.col-12.col-md-6
						.hexagonoblanco
							i.fa.fa-file-code-o(aria-hidden="true")
						h3 Desarrollo de Software
						button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalHabilidadesDev") Detalles
					article.col-12.col-md-6
						.hexagonoblanco
							i.fa.fa-windows(aria-hidden="true")
						h3 Sistemas Operativos
						button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalHabilidadesOS") Detalles
				.row
					article.col-12.col-md-6
						.hexagonoblanco
							i.fa.fa-image(aria-hidden="true")
						h3 Diseño/Edición Gráfica
						button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalHabilidadesDesign") Detalles
					article.col-12.col-md-6
						.hexagonoblanco
							i.fa.fa-black-tie(aria-hidden="true")
						h3 Administración
						button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalHabilidadesAdmin") Detalles

		.container
			.row
				section#hoja-de-vida.col-md-4.ml-auto.my-5
					.container
						.card
							img.card-img-top(src='./images/MiniaturaCV.jpg', alt='Miniatura Hoja de Vida')
							.card-block.p-3.text-center
								h2.card-title DESCARGAR<br>HOJA DE VIDA
								p.card-text Contiene información detallada sobre mi historial laboral, educación, contracto, entre otros
								a(href='./files/CV_JohnAlejandroZapata.pdf')
									i.fa.fa-download

				section#educacion.col-md-6.mr-auto.text-center.py-5.my-md-5
					.container
						h2 EDUCACION
						i.fa.fa-university
						h3 Técnico en Desarrollo de Software
						p Estoy en capacidad de desarrollar programas para computador, aplicados a las actividades y estrategias empresariales. puedo realizar el análisis, diseño e implementación de aplicaciones y el mantenimiento de programas en ambiente web, escritorio y para dispositivos móviles.

		section#experiencia-laboral.py-5
			.container.text-center
				h2 EXPERIENCIA LABORAL
				p Nota: no es historial completo
				.row.col-12.col-sm-8.col-md-12.mx-auto
					img(src="./images/ExperienciaLaboralVertical.svg", alt="Imagen Experiencia Laboral Vertical").d-block.d-md-none
					img(src="./images/ExperienciaLaboral.svg", alt="Imagen Experiencia Laboral").d-none.d-md-block

		main#servicios.py-5
			.container.d-flex.flex-column.col-md-9.col-lg-8
				h2.text-center.pb-2 Servicios
				article
					.row.mr-auto
						.hexagonoblanco.col-3
							i.fa.fa-file-code-o(aria-hidden="true")
						.container.col-9
							h3 Desarrollo de Software
							button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalServiciosDev") Detalles
				article
					.row.ml-auto
						.hexagonoblanco.col-3
							i.fa.fa-wrench(aria-hidden="true")
						.container.col-9
							h3 Servicio Técnico
							button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalServiciosTecnicos") Detalles
				article
					.row.mr-auto
						.hexagonoblanco.col-3
							i.fa.fa-gift(aria-hidden="true")
						.container.col-9
							h3 Importación de U.S.A
							button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalServiciosImportacion") Detalles
				article
					.row.ml-auto
						.hexagonoblanco.col-3
							i.fa.fa-graduation-cap(aria-hidden="true")
						.container.col-9
							h3 Asesoría / Consultoría
							button.btn.btn-primary(type="button", data-toggle="modal", data-target="#modalServiciosAsesoriaEnsenanza") Detalles

		section#hobbies.py-5.text-center
			.container
				h2.pb-3 Hobbies
				.owl-carousel
					.container
						h3 Deporte
						span
							i.fa.fa-bicycle
					.container
						h3 Lectura
						span
							i.fa.fa-book
					.container
						h3 PC's Gamer
						span
							i.fa.fa-desktop
					.container
						h3 Programar
						span
							i.fa.fa-slack
					.container
						h3 Videojuegos
						span
							i.fa.fa-gamepad
					.container
						h3 Cine
						span
							i.fa.fa-film
					.container
						h3 Musica
						span
							i.fa.fa-headphones

		//- Modales Habilidades
		#modalHabilidadesDev.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title DESARROLLO DE SOFTWARE
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							h4 Obtenidas / Avanzadas
							.row
								.col-4
									img(src="./images/php.svg", alt="Imágen PHP")
									img(src="./images/laravel.svg", alt="Imágen Laravel")
								.col-4
									p PHP 7 / Laravel
								.col-4
									.percircle.small(data-percent='65')
							.row
								.col-4
									img(src="./images/csharp.svg", alt="Imágen C#")
								.col-4
									p C# (MVC - Razor, WebForms)
								.col-4
									.percircle.small(data-percent='65')
							.row
								.col-4
									img(src="./images/CSS3.svg", alt="Imágen Css3")
									img(src="./images/Sass.svg", alt="Imágen SASS")
								.col-4
									p CSS, SASS / SCSS
								.col-4
									.percircle.small(data-percent='80')
							.row
								.col-4
									img(src="./images/HTML5.svg", alt="Imágen HTML5")
									img(src="./images/pugjs.svg", alt="Imágen PUG / JADE")
								.col-4
									p HTML5, Pug (ex Jade)
								.col-4
									.percircle.small(data-percent='95')
							.row
								.col-4
									img(src="./images/responsive-design.svg", alt="imagen diseño responsive")
									img(src="./images/Bootstrap4.svg", alt="Imagen Bootstrap")
								.col-4
									p Diseño Web Responsive <br> (Twitter Bootstrap 4)
								.col-4
									.percircle.small(data-percent='99')
							.row
								.col-4
									img(src="./images/javascript.svg", alt="imagen Javascript")
									img(src="./images/jquery.svg", alt="imagen jQuery")
								.col-4
									p Javascript, jQuery
								.col-4
									.percircle.small(data-percent='75')
							.row
								.col-4
									img(src="./images/microsoft-sql-server.svg", alt="Imágen MS SQL Server")
									img(src="./images/MySQL.svg", alt="Imágen MySQL Server")
								.col-4
									p Bases de Datos <br> (Microsoft SQL Server, MySQL)
								.col-4
									.percircle.small(data-percent='90')
							.row
								.col-4
									img(src="./images/git.svg", alt="Imágen Git")
								.col-4
									p Git
								.col-4
									.percircle.small(data-percent='80')
							h4.mt-5 Por Mejorar / Obtener
							.row
								.col-4
									img(src="./images/wordpress.svg", alt="Imágen WordPress")
								.col-4
									p WordPress
								.col-4
									.percircle.small(data-percent='0')
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar

		#modalHabilidadesOS.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title SISTEMAS OPERATIVOS
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								.col-4
									img(src="./images/windows.svg", alt="Imágen Windows")
								.col-4
									p Microsoft Windows
								.col-4
									.percircle.small(data-percent='99')
							.row
								.col-4
									img(src="./images/linux.svg", alt="Imágen Linux")
								.col-4
									p Linux
								.col-4
									.percircle.small(data-percent='50')
							.row
								.col-4
									img(src="./images/apple.svg", alt="Imágen Apple")
								.col-4
									p Apple Mac OS
								.col-4
									.percircle.small(data-percent='50')
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar

		#modalHabilidadesDesign.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title DISEÑO / EDICION GRAFICA
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								.col-4
									img(src="./images/photoshop.svg", alt="Imágen Photoshop")
								.col-4
									p Adobe Photoshop
								.col-4
									.percircle.small(data-percent='65')
							.row
								.col-4
									img(src="./images/illustrator.svg", alt="Imágen Illustrator")
								.col-4
									p Adobe Illustrator
								.col-4
									.percircle.small(data-percent='55')
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar

		#modalHabilidadesAdmin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title ADMINISTRACIÓN
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								.col-4
									img(src="./images/microsoftoffice.svg", alt="Imágen office")
								.col-4
									p Microsoft Office
								.col-4
									.percircle.small(data-percent='90')
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar

		//- Modales Servicios
		#modalServiciosDev.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title Servicios de Desarrollo a la medida
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								p Diseño e implemento soluciones a la medida para personas y pymes
									|  mediante el modelo tradicional de desarrollo de aplicaciones: <br>
								ul
									li Analisis de sistema
									li Levantamiento de requisitos
									li Diseño
									li Codificación
									li Pruebas
									li Mantenimiento
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
		#modalServiciosTecnicos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title Servicio Técnico
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								p Llevo a cabo reparación y mantenimiento Físico, Lógico, correctivo, preventivo para tu(s) equipo(s)

					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
		#modalServiciosImportacion.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title Importacion de Estados Unidos de America
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								p Necesitas un producto y no puedes encontrarlo? <br><br>
								| Puedo ayudarte a realizar la compra e importacion deseada desde cualquier tienda en estados unidos
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
		#modalServiciosAsesoriaEnsenanza.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						h5.modal-title Asesoría, Enseñanza y/o Consultoría
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						.container-fluid
							.row
								p Percibo sus inconvenientes y/o problemas, Analizo y Organizo su información y proporciono
									|  datos procesados para la toma de desiciones innovativas,
									| asegurandome de generar un impacto positivo ya sea en tus procesos o implementaciones,
									| lo anterior completamente bajo clausulas de privacidad de la información y sus productos
					.modal-footer
						button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar

		a#flecha-ir-arriba(href='#bienvenida')
			i.fa.fa-arrow-circle-up(aria-hidden="true")

		include partials/footer