//Custom Colors
//#################################################

//Dominante
$color-principal-claro: #01B27A;
$color-principal-oscuro: darken($color-principal-claro, 7.5%);

//Complementario
//$color-secundario: #364756;
//$color-secundario-alterno: #465769;

//Fondos
$color-fondo-blanco: #FFFFFF;
$color-fondo-claro: #E6E6E6;
$color-fondo-oscuro: #464746;

//Color Textos
$color-texto-claro: #FFF;
$color-texto-oscuro: #8C8C8C;
//#################################################